<div class="app">
  <nav class="app-nav">
    <div class="container">
    {{#link-to 'application'}}
    <p class="app-title">Cliff Duke, DDS</p>
    {{/link-to}}
    </div>
  </nav>

  <div class="app-main">
    <h2>Hello</h2>
    <div class="container">

      {{outlet}}

    </div>
  </div>
</div>
<div class="footer">
</div>
